.top-bar {
  display: flex;
  height: 100px;
  width: 100%;
}

.profile-picture {
  position: fixed;
  right: 0;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  border: 2px solid #ccc;
  border-radius: 50%;
  cursor: default;
  transition: all 0.3s ease;
}

.profile-picture:hover {
  border-color: #999;
  transform: scale(1.05);
  cursor: pointer;
}

.profile-picture h1 {
  margin: 0 auto;
  font-size: 20px;
  color: #333;
}


.back-to-dashboard {
  position: fixed;
  right: 0;
  width: 150px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  border: 2px solid #ccc;
  border-radius: 10px;
  cursor: default;
  transition: all 0.3s ease;
}

.back-to-dashboard:hover {
  border-color: #999;
  transform: scale(1.05);
  cursor: pointer;
}

.back-to-dashboard h3 {
  margin: 0 auto;
  font-size: 14px;
  color: #333;
}

.logout {
  position: fixed;
  right: 0;
  width: 150px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 185px;
  border: 2px solid #ff0000ac;
  border-radius: 10px;
  cursor: default;
  transition: all 0.3s ease;
}

.logout:hover {
  border: 2px solid #ff0000ac;
  transform: scale(1.05);
  cursor: pointer;
}

.logout h3 {
  margin: 0 auto;
  font-size: 14px;
  color: #c70000c6;
}

.profile-container {
  justify-content: space-between;
  height: calc(100vh - 60px);
  max-height: 100vh;
  padding: 20px;
  overflow: hidden;
}

.columns {
  display: flex;
  height: 100%;
}

.profile-management-container {
  height: 100%;
  align-items: center;
  justify-content: center;
}

.middle-box {
  height: 27%;
  width: 30%;
  margin: 0 auto;
  background-color: #f0f0f0;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  box-sizing: border-box;
  overflow-y: auto;
}

.left-box {
  height: 27%;
  background-color: #f0f0f0;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  box-sizing: border-box;
  overflow-y: auto;
}

.right-box {
  height: 41.5%;
  background-color: #f0f0f0;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  box-sizing: border-box;
  overflow-y: auto;
}
  

.left-section {
  flex: 1;
  margin-right: 10px;
  height: 100%;
}
  
.right-section {
  flex: 1;
  margin-left: 10px;
  height: 100%;
}

.classes-section {
  margin-bottom: 20px;
}

.classes-section h3 {
  margin-bottom: 10px;
}

.classes-list, .training-sessions-list {
  list-style: none;
  padding: 0;
}

.classes-list li, .training-sessions-list li {
  margin-bottom: 5px;
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 5px;
}

.register-btn, .cancel-btn {
  padding: 5px 10px;
  margin-left: 10px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}

.register-btn {
  background-color: #4CAF50;
  color: white;
}

.cancel-btn {
  background-color: #f44336;
  color: white;
}

.class-time {
  font-weight: normal;
  color: #555;
}
